body {
    background-color: black;
    font-family: "Poetsen One", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 
        -0.8px -0.8px 0 #000,  
         0.8px -0.8px 0 #000,
        -0.8px  0.8px 0 #000,
         0.8px  0.8px 0 #000; 
    font-size: 24px; 
}


.icicles {
    position: fixed;
    top: 60px;
    left: 0px;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    width: 100vw;
    z-index: 1;
    border: none;
}

.whitebar {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100vw;
    height: 60px;
    display: flex;
    background-color: white;
}

.trees {
    position: fixed;
    top: 70%;
    left: 50%;
    width: 90vw;
    height: 220px;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
}

.trees img {
    position: absolute;
    width: 80px;
    height: auto;
}

.tree {
    position: absolute;
}

.tree-1 {
    top: 0%;
    left: 0%;
}

.tree-2 {
    top: 7%;
    left: 4%;
}

.tree-3 {
    top: 60%;
    left: 94%;
}

.tree-4 {
    top: 87%;
    left: 92%;
}

.tree-5 {
    top: 40%;
    left: 10%;
}

.tree-6 {
    top: 75%;
    left: 30%;
}

.tree-7 {
    top: 70%;
    left: 0%;
}

.trees .sheep {
    top: 40%;
    left: -5%;
    height: 300px;
    width: auto;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.anglophoria {
    position: fixed;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    z-index: 3;
}

.anglophoria img {
    width: 400px;
    margin: 20px;
    margin-bottom: 0px;
    height: auto;
}

.anglophoria p {
    margin-top: 0px;
    font-size: 18px;
    color: black;
}

#menu-tab {
    position: fixed;
    top: 20px;
    left: 0;
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    z-index: 3;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 3;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid white;
}

.side-menu a:hover {
    color: #f1f1f1;
    background-color: #575757;
}

.side-menu a.close-btn {
    border-bottom: none;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border-bottom: none;
}

.game-display {
    display: none; 
}

.main-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    padding: 20px;
    text-align: center;
    background-color: clear;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.stats {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}


.points-earned,
.game-countdown,
.turn-countdown {
    background-color: black;
    border-radius: 10px;
    border: 4px purple solid;
    font-size: 22px;
    padding: 15px;
    z-index: 1;
}

.turn-countdown {
    transition: color 0.5s;
}

.ingredients-display {
    margin-top: 20px;
    height: 400px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
}

.ingredients-display img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 20px;
}

.chef {
    position: absolute;
    bottom: 20%;
    right: 2%;
    background-color: #5d5d5d;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chef img {
    width: 200px;
}

.speech-bubble {
    position: relative;
    width: 200px;
    background: #000000;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.speaker-icon {
    position: absolute;
    bottom: 20px;
    right: 120px;
    width: 30px;
    height: 30px;
    background-image: url('speaker-icon.jpg');
    background-size: cover;
}


.pre-game-display {
    position: fixed;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0);
    z-index: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.start-button,
.instructions-button {
    padding: 12px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 11px;
    font-family: "Poetsen One", sans-serif;
    border: 1px solid black;
}

.start-button {
    background-color: #ff00e1;
    color: white;
}

.instructions-button {
    background-color: #3c00ff;
    color: white;
}

.fruit-display {
    position: absolute;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    z-index: -1;
}


.instructions-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.instructions-content {
    background: rgb(224, 195, 255);
    color: #8900be;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    max-height: 80%;
    text-overflow: wrap;
    text-align: center;
}

.instructions-content .header{
font-size: 40px;
margin-top: 0px;
}

.instructions-content p {
    width: 400px;
}

.instructions-content .close-button {
    position: relative;
    top: 10px;
    right: -50%;
    cursor: pointer;
    background: rgb(62, 62, 62);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: "Poetsen One", sans-serif;
}

#replay-game-button {
    padding: 12px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 11px;
    font-family: "Poetsen One", sans-serif;
}


.user-controls{
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translateX(50%);
gap: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.user-controls button{
    width: 15vw; 
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    background-color: rgb(29, 80, 16);
    border-radius: 0.8vh;
    font-family: "Poetsen One", sans-serif;
    margin-top: auto;
    transition: background-color 0.3s ease;
}


.user-controls button:hover {
    background-color: rgb(51, 255, 0);
}

