.slide1, .slide2, .slide3, .slide4 {
    background-color: rgb(15, 15, 15);
    padding: 20px;
    min-height: 250px;
    min-width: 400px;
    border-radius: 10px;
}

#toggle-help {
    margin-top: 25px;
}

#help-message {
    font-size: 15px;
}
h1 {
    font-size: 27px;
}

.slide2, .slide3, .slide4 {
    display: none;
}

.input .levels, .versions {
    display: flex;
}

.levels {
    gap:0px;
    margin-top: 50px;
}

.levels p {
    border: 3px solid black;
    padding: 8px;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    flex: 1;
    margin: 0px;
}

.versions div {
    border: 3px solid black;
    padding: 0px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    flex: 1;
    margin: 10px;
    min-width: 400px;
}


.levels p.selected, .versions div.selected {
    background-color: rgb(228, 96, 255) !important;
    animation: selectionAnimation 0.5s forwards;
}


.levels p:hover{
    background-color: rgb(86, 255, 43);
}


@keyframes selectionAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#selected-message, #selected-message2 {
    margin-top: 4%;
}

.next, .finish {
    border: none;
    border-radius: 4px;
    margin-top: 0px;
    padding: 10px 20px;
    cursor: not-allowed;
    transition: background-color 0.3s, transform 0.3s;
}

.next.enabled, .finish.enabled {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    animation: selectionAnimation 0.5s forwards;
}

.create-account {
    color: rgb(106, 134, 255);
}

.login-button {
    margin: 10px;
    padding: 5px;
    background-color: white;
    font-size: 15px;
    border-radius: 3px;
    border-color: white;
}
#free-version{
    background-color: aqua;
}

#free-version:hover{
    background-color: rgb(131, 255, 59);
}

#premium-version{
    background-color: rgb(255, 159, 239);
}

#premium-version:hover{
    background-color: rgb(131, 255, 59);
}

.versions ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 75px;
}

#language-dropdown {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
