.icicles {
    position: fixed;
    top: 60px; 
    left: 0px;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    width: 100vw;
}

.whitebar{
    position: fixed;
    top: 0;
    left:0px;
    width: 100vw;
    height: 60px;
    display:flex;
    background-color: white;
}

body {
    background: linear-gradient(to top, rgb(35, 35, 35), black);
    margin-top: 0px; 
    font-family: "Poetsen One", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 
        -0.8px -0.8px 0 #000,  
         0.8px -0.8px 0 #000,
        -0.8px  0.8px 0 #000,
         0.8px  0.8px 0 #000; 
    font-size: 24px; 
}


.trees {
    position: fixed;
    top: 70%;
    left: 50%;
    width: 90vw; /* Adjusted to 80% */
    height: 220px; /* Adjusted to 80% */
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
}

.trees img {
    position: absolute;
    width: 80px; /* Adjusted to 80% */
    height: auto;
}

.tree {
    position: absolute;
}

.tree-1 {
    top: 0%;
    left: 0%;
}

.tree-2 {
    top: 7%;
    left: 4%;
}

.tree-3 {
    top: 60%;
    left: 94%;
}

.tree-4 {
    top: 87%;
    left: 92%;
}

.tree-5 {
    top: 40%;
    left: 10%;
}

.tree-6 {
    top: 75%;
    left: 30%;
}

.tree-7 {
    top: 70%;
    left: 0%;
}


.trees .sheep { 
    top: 40%; 
    left: -5%; 
    height: 300px; 
    width: auto;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}



.anglophoria {
    position: fixed;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.anglophoria img{
    width: 400px; 
    margin: 20px;
    margin-bottom: 0px;
    height: auto;
}

.anglophoria p {
    margin-top: 0px;
    font-size: 18px;
    color: black;
}


/* Menu tab */
#menu-tab {
    position: fixed;
    top: 20px;
    left: 0;
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

/* Side menu */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid white;  /* Add this line for horizontal bar */
}

.side-menu a:hover {
    color: #f1f1f1;
    background-color: #575757;  /* Add hover background color */
}

.side-menu a.close-btn {
    border-bottom: none;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border-bottom: none;
}

/* Center the main content section */
.main-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Games grid */
.games-flex {
    width: 879px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Game tile images */
.game-tile {
    position: relative;
    transition: margin 0.3s;
    margin: 10px;
}

/* Game tile images */
.game-tile img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: pink;
}

/* Hover effect for game tile images and margins */
.game-tile:hover img {
    transform: scale(1.1);
    z-index: 1;
    background-color: yellow;
}

.game-tile:hover {
    margin: 25px;
}

/* Game info on hover */
.game-info {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(242, 242, 242);
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}

.game-tile:hover .game-info {
    display: block;
}


.game-details {
    position: fixed;
    height: 100vh;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    width: 400px;
    background-color: rgb(43, 43, 43);
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-details .inner {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.game-details h2 {
    font-size: 34px;
}

.game-details img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px 0;
}

.game-details div {
    font-size: 18px;
    margin: 5px 0;
}