.slide0, .slide1, .slide2, .slide3, .slide4 {
    background-color: rgb(15, 15, 15);
    padding: 20px;
    min-height: 200px;
    min-width: 400px;
    border-radius: 10px;
}

.slide0 {
    padding: 20px;
    min-height: 200px;
    min-width: 400px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);;
}
.slide0 form{
    background-color: rgb(59, 59, 59);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#add-payment-method{
    width:400px;
    font-size: 16px;;
    background-color: rgb(37, 37, 37);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#add-payment-method input{
width: 300px;
}

#add-payment-method .card-expiry{
    width: 100px;
}

#add-payment-method .authorize {
    margin-top: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#add-payment-method #authorize-checkbox {
    height: 12px;
    width: 12px;
    margin: 0 8px 0 0; /* Add some space between the checkbox and the text */
}

.country{
    width: 100px;
    height:25px;
    border-radius: 3px;
}

form .nickname{
    width: 150px;
}

form .bday {
    width: 125px;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box; 
}
form label{
    margin-top: 20px;
}

#toggle-help-1 {
    height: 4px;
}

#help-message-1 .cefr-levels{
    font-size: 15px;
    background-color: rgb(51, 51, 51);
    padding: 5px;
    border-radius: 8px;
    margin-top: 20px;
}
#help-message-2{
    font-size: 15px;
    background-color: rgb(36, 36, 36);
    padding: 5px;
    border-radius: 8px;
    margin-top: 30px;
}

#help-message-0{
    font-size: 15px;
    background-color: rgb(36, 36, 36);
    padding: 5px;
    border-radius: 8px;
    margin-top: 30px;
}

#help-message-0 .title{
    font-size: 25px;
}
#help-message-3{
    font-size: 15px;
    background-color: rgb(36, 36, 36);
    padding: 5px;
    border-radius: 8px;
    margin-top: 30px;
}

.detected-language-container{
    font-size: 18px;
    background-color: rgb(51, 51, 51);
    padding: 5px;
    border-radius: 8px;
    margin-top: 20px;
}

.detected-language-container #detected-language{
    font-size: 22px;
    margin-bottom: 40px;
}



#help-message-1 .title{
    font-size: 19px;
    margin-top: 50px;
}

h1 {
    font-size: 27px;
}

.slide1, .slide2, .slide3, .slide4 {
    display: none;
}

.input .levels, .versions {
    display: flex;
}

.levels {
    gap:0px;
    margin-top: 50px;
}

.levels p {
    border: 3px solid black;
    padding: 8px;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    flex: 1;
    margin: 0px;
}


.details {
    padding: 7px;
    background-color: rgb(56, 56, 56);
    border-radius: 8px;
    margin: 5px;
    width: 210px;
    height: 230px;
}

.details .price {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.details .bullet-points {
    margin-left: 20px; 
    text-align: left;
}

.details .bullet-points p {
    position: relative; 
    padding-left: 15px; 
}

.details .bullet-points p::before {
    content: "\2022"; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff; 
}


.versions .title{
font-size: 30px;
margin-bottom: 0px;
}

.versions .price{
    font-size: 30px;
    margin-bottom: 0px;
    }

.levels p.selected, .details.selected {
    background-color: rgb(228, 96, 255) !important;
    animation: selectionAnimation 0.5s forwards;
}


.levels p:hover, .details:hover{
    background-color: rgb(155, 155, 155);
}


@keyframes selectionAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#selected-message, #selected-message2 {
    margin-top: 4%;
}

.next, .finish {
    border: none;
    border-radius: 4px;
    margin-top: 0px;
    padding: 10px 20px;
    cursor: not-allowed;
    transition: background-color 0.3s, transform 0.3s;
}

.next.enabled, .finish.enabled {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    animation: selectionAnimation 0.5s forwards;
}

.create-account {
    color: rgb(106, 134, 255);
}

.login-button {
    margin: 10px;
    padding: 5px;
    background-color: white;
    font-size: 15px;
    border-radius: 3px;
    border-color: white;
}

.versions ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 75px;
}



#language-dropdown {
    margin-top: 0px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 25px;
}
