/* snowflakes.css */

/* Snowflake Container */
.snowflake-container {
    position: fixed;
    top: -5;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Ensure snowflakes don't interfere with other elements */
    overflow: hidden; /* Ensure snowflakes don't create scrollbars */
    z-index: 1000; /* Ensure snowflakes are on top of other content */
}

/* Snowflake Animation */
@keyframes snowfall {
    0% {
        top: -10vh;
    }
    100% {
        top: 110vh;
    }
}

.snowflake {
    position: absolute;
    width: 4px; /* Adjusted to 80% */
    height: 4px; /* Adjusted to 80% */
    background-color: white;
    animation: snowfall 20s linear infinite;
    opacity: 0.8;
}
