body {
    background-color: black;
    overflow: hidden;
    margin-top: -10px;
    font-family: "Poetsen One", sans-serif;
}

@keyframes snowfall {
    0% {
        top: (-10vh); 
    }
    100% {
        transform: translateY(110vh); 
    }
}

.snowflake {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    animation: snowfall linear infinite; 
    animation-duration: 20s; 
}

.anglophoria {
    width: 900px;
    height: auto;
    position: fixed;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
}


.foreground-image {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: -150px;
    z-index: -1; /* Ensures the image is behind the snowflakes */
}


.sheepgif {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:800px;
    z-index: -1;
}

.message {
    position: fixed;
    top: 30%;
    left: 42%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 50px;
    display: none; 
    font-size: 30px;
    max-width: 450px;
    text-align: center;
}

.message::after {
    content: '';
    position: fixed;
    top: 30%;
    left: 50%;
}


.message button{
    background-color: green;
    width: 350px;
    height: 30px;
    font-size: 20px;
    font-family: "Poetsen One", sans-serif;
}

.message input{
    width: 350px;
    height: 30px;
    font-size: 20px;
    font-family: "Poetsen One", sans-serif;
}

.stats {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-around;
    margin: 30px;
    font-family: "Poetsen One", sans-serif;
    color: rgb(255, 113, 236);
}

.points {
    margin-right: 200px;
}


.challenges {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aquamarine;
    display: flex;
    flex-direction: column

}

.challenges button{
    margin: 30px;
    padding: 14px;
    border-radius: 8px;
    font-size: 20px;
    font-family: "Poetsen One", sans-serif;
}

.b1 {
    background-color: aqua;
    color: black;
}

.b2 {
    background-color: rgb(190, 255, 39);
    color: black;
}

.b3 {
    background-color: rgb(0, 162, 255);
    color: black;
}